{% extends "home/base.html" %} {% block content %}
<section class="wow fadeIn bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">What is not a single application</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-two">
                    <!-- accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link1" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What is the EaS-E?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link1" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                The Eco-Friendly and Sustainable – Electric, is a fully electric car for everyday use, in essence it’s your everyday car. A smart car with a top speed of 80 Kmph, and available in range options of 120 / 160 / 200 kms per charge. Some of the top line features
                                are: EaS-E mode for feet free driving in traffic conditions, cruise control, and remote parking assist. The purpose built EaS-E, allows you to cut through traffic and park in the tightest of spots, without causing any pollution.
                                It is the epitome of sustainable mobility for a cleaner, brighter future. It is Faster, Smarter & Greener.
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link2" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can I test drive an EaS-E?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link2" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                By expressing your interest or placing a preorder or signing up for our pmvnewsletter, we will automatically let you know when EaS-I will be in your area for a test drive. You will be notified when the PMV Car will be available for test drive soon.

                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link3" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How long does it take to charge the EaS-E?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link3" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                EaS-E can be charged from a regular household outlet of 220 V 15 A in less than 4 hours depending on the ambient temperature. Charging at a high or low temperature will affect the charging time and charge retention.
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link4" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Does this apply to all items from Envato Market?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link4" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. </p>
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link5" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How do I know my Broadcast audience size?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link5" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                </div>
                <!-- end accordion -->
            </div>
        </div>
    </div>
</section>
{% endblock content %}