{% extends "home/base.html" %} {% block content %}
<section class="wow fadeIn bg-light-gray tech-specs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">Frequently Asked Questions</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-two">
                    <!-- accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link1" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What is the EaS-E?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link1" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                The Eco-Friendly and Sustainable – Electric, is a fully electric car for everyday use, in essence it’s your everyday car. A smart car with a top speed of 80 Kmph, and available in range options of 120 / 160 / 200 kms per charge. Some of the top line features
                                are: EaS-E mode for feet free driving in traffic conditions, cruise control, and remote parking assist. The purpose built EaS-E, allows you to cut through traffic and park in the tightest of spots, without causing any pollution.
                                It is the epitome of sustainable mobility for a cleaner, brighter future. It is Faster, Smarter & Greener.
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link2" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can I test drive an EaS-E?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link2" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                By expressing your interest or placing a preorder or signing up for our pmvnewsletter, we will automatically let you know when EaS-I will be in your area for a test drive. You will be notified when the PMV Car will be available for test drive soon.

                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link3" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How long does it take to charge the EaS-E?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link3" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                EaS-E can be charged from a regular household outlet of 220 V 15 A in less than 4 hours depending on the ambient temperature. Charging at a high or low temperature will affect the charging time and charge retention.
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link4" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How far can I go on a single charge in an EaS-E?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link4" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                You can choose from three range options in an EaS-E, 120 Km’s, 160 Km’s and 200 Km’s. This should be sufficient to cover majority of the used cases for everyday intra-city travel requirements. And in case you still run out of charge, you can always charge
                                it at one of the ubiquitous 15 A outlet found at a public place. Juice up enough for the journey back home.
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link5" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Where can I charge my car?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link5" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                EaS-E comes with an on board charger, so you can connect with any wall socket of 220V single phase supply. Each EaS-E will come with a charger, and the installation of the same is easy & can be easily managed by the local electrician. We will also have
                                a set of authorised service providers to help with the installation of the charger at your residential parking spot. We will also have a tie up with public places like restaurants, QSR outlets, malls, theatres etc. which
                                will allow you to charge from their premises at nominal fees while you enjoy a quick bite at their outlet.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link6" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Is EaS-E Safe to drive?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link6" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                EaS-E chassis is made of high tensile strength steel tubular structure, which uses a space frame design which is extremely rigid and protects the occupants. Also the EaS-E comes with a 3-point seat belt system, for added safety for the occupants. We will
                                be following the safety guidelines laid down by the Govt. in order to ensure the safety of the passengers along with adherence to the law of the land.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link7" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Where can I charge my car?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link7" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                EaS-E comes with an on board charger, so you can connect with any wall socket of 220V single phase supply. Each EaS-E will come with a charger, and the installation of the same is easy & can be easily managed by the local electrician. We will also have
                                a set of authorised service providers to help with the installation of the charger at your residential parking spot. We will also have a tie up with public places like restaurants, QSR outlets, malls, theatres etc. which
                                will allow you to charge from their premises at nominal fees while you enjoy a quick bite at their outlet.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link8" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How will the servicing of the EaS-E be done?<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link8" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                We will have a door step service for servicing your EaS-E. No more waiting at the service station. And the same will be managed by authorised service centres of the company. The design of the EaS-E will make servicing a very simple process, and most replacement
                                parts will be managed at a central location with next day delivery for the spare parts to enable quick resolution in case of break down. Additionally, we will provide nationwide 24-hour roadside assistance to EaS-E owners.
                                More details will be provided as the service develops.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link9" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    What is the manufacturer’s warranty on the EaS-E?
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link9" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">EaS-E is covered by a standard 3-year/50,000- Km warranty, whichever comes earlier.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link10" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    What is the manufacturer’s warranty on the EaS-E? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-two-link10" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">EaS-E is covered by a standard 3-year/50,000- Km warranty, whichever comes earlier.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link11" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    What is the lifetime of the battery system? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link11" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">Basis the cell manufacturers warranty, we anticipate that the cells will offer a lifetime of between 5-8 years depending of the usage of the vehicle. We are using LFP cells which offer a higher life cycle for the cells and
                                are more stable in its operation. We are continuously testing our packs on the field to offer a better data point on the life of the cells.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link12" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    Does EaS-E support fast charging? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link12" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">The EaS-E can support charging at 7 Kw chargers, but if done regularly can significantly affect the life of the cells, so while it can charge at a fast rate of 0-80% charge in 60-90 mins, we do not recommend it be used regularly
                                to keep the cells from deteriorating faster than usual.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link13" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">

                                    Does the EaS-E have Regenerative braking ?
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link13" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                The EaS-E has the regenerative braking which allows the vehicle, to capture energy back into the battery, by converting the kinetic energy of the vehicle at higher speeds into charge for the battery pack. As the vehicle slows down the battery pack gets
                                charged momentarily, which adds to the overall range of the vehicle. There are different levels of regeneration that can be selected as per the drivers need. An aggressive regeneration allows for a higher charge on the
                                pack, but will reduce the stopping distance. The hydraulic brake and Regenerative braking can be used together to more rapidly slow the vehicle. This also allows for less wear and tear on the braking system, thus allowing
                                it to run for much longer compared to regular petrol/diesel vehicles. </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link14" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">

                                    Are there any tax incentives for the EaS-E? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link14" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                The government regulations are in favour of the Electric vehicles, and the relevant tax incentives which are applicable to EaS-E will be offered at the time of delivery. Also the government regulations change with time, so the eligible incentives can
                                only be offered at the time of delivery. </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link15" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">


                                    Are there any financing options on the EaS-E?
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link15" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                We plan to offer affordable financing options with leading financial institutions for making the purchase of EaS-E hassle free.</div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link16" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">

                                    Will EaS-E be sold through dealerships? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link16" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                Currently we are looking to go direct to consumers, however we are open to partnerships which may be mutually beneficial. You can share your interest for a dealership on our dealership tab on menu button on our website. </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link17" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">

                                    How do I preorder the EaS-E? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link17" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                PMV is currently accepting pre-orders with a fully refundable deposit of 2000 INR. To get your hands first on the EaS-E, place your preorder here. Currently we are looking at taking pre-orders only for the India market & reservations placed now are expected
                                to be able to complete their delivery within one year. For the rest of the world, we will be expanding our network and delivery capability gradually over the next 18 months, and expect to be delivering worldwide in 24 months.
                                We will be updating this timeline frequently as we expand.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link18" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">

                                    I preordered. What happens next? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link18" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                Once we are close to building your EaS-E, we will contact you to collect a non-refundable deposit to secure your place in the production queue. You’ll have the opportunity to choose all your desired features and options before placing a production deposit.
                                We will then work with you to finalize delivery for your new EaS-E vehicle. </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link19" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">

                                    If I place my preorder today, when will PMV deliver my EaS-E? <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div>
                            </a>
                        </div>
                        <div id="accordion-two-link19" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                The reservations placed from India now are expected to be able to complete their delivery within one year. For the rest of the world, we will be expanding our network and delivery capability gradually over the next 18 months, and expect to be delivering
                                worldwide in 24 months. We will be updating this timeline frequently as we expand. These are estimates, as bringing any vehicle from a concept sketch to full-scale production is an enormous undertaking. We recommend you
                                sign up for the newsletter to stay up to date with the latest production news
                            </div>
                        </div>
                    </div>

                </div>

                <!-- end accordion item -->
            </div>
            <!-- end accordion -->
        </div>
    </div>
    </div>
</section>
{% endblock content %}