{% extends "home/base.html" %} {% load static %} {% block style %}
<style>
    .outer-content {
        font-family: Montserrat;
        font-size: 120%;
        line-height: 250%;
        color: rgb(253, 243, 243);
    }
    
    .outer-content-2 {
        font-family: Montserrat;
        font-size: 90%;
        line-height: 250%;
        color: rgb(253, 243, 243);
    }
    
    .outer-content-3 {
        font-family: Montserrat;
        font-size: 100%;
        line-height: 250%;
        color: rgb(7, 7, 7);
    }
</style>{% endblock style %}{% block content %}
<section class="no-padding main-slider height-100 mobile-height wow fadeIn ">
    <div class="swiper-full-screen swiper-container height-100 width-100 black-move ">
        <div class="swiper-wrapper ">
            <!-- start slider item -->
            <div class="swiper-slide cover-background " style="background-image:url( ' {% static 'home/images/carousel1.png' %}'); ">
                <div class="container position-relative full-screen ">
                    <div class="col-md-12 slider-typography text-center text-md-left ">
                        <div class="slider-text-middle-main ">
                            <div class="slider-text-middle ">
                                <h1 style="color: white; " class="alt-font font-weight-700 letter-spacing-minus-1 line-height-80 width-55 margin-35px-bottom lg-width-60 md-width-70 lg-line-height-auto sm-width-100 sm-margin-15px-bottom "> Smarter</h1>
                                <p style="color: white; " class=" text-large margin-four-bottom width-40 lg-width-50 md-width-60 sm-width-100 sm-margin-15px-bottom">Everything you could possibly want it to do and not only that, beautifully carefully designed.</p>
                                <div class="btn-dual "><a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa " target="_blank " style="background-color: white; " class="btn btn-rounded btn-small no-margin-lr ">express interest</a>
                                    <a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa " target="_blank " style="border-color: white; color: white; " class="btn btn-transparent-dark-gray
    btn-rounded btn-small margin-20px-lr sm-margin-5px-top ">Know more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background " style="background-image:url( '{% static 'home/images/carousel2.png' %}'); ">
                <div class="container position-relative full-screen ">
                    <div class="col-md-12 slider-typography text-center text-md-left ">
                        <div class="slider-text-middle-main ">
                            <div class="slider-text-middle ">
                                <h1 style="color: white; " class="alt-font font-weight-700 letter-spacing-minus-1 line-height-80 width-55 margin-35px-bottom lg-width-60 md-width-70 lg-line-height-auto sm-width-100 sm-margin-15px-bottom ">We make cars that are faster</h1>
                                <p style="color: white; " class=" text-large margin-four-bottom width-40 lg-width-50 md-width-60 sm-width-100 sm-margin-15px-bottom ">Everything you could possibly want it to do and not only that, beautifully carefully designed.</p>
                                <div class="btn-dual "><a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa " target="_blank " style="background-color: white; " class="btn
    btn-rounded btn-small no-margin-lr ">express interest</a>
                                    <a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa " target="_blank " style="border-color: white; color: white; " class="btn btn-transparent-dark-gray
    btn-rounded btn-small margin-20px-lr sm-margin-5px-top ">Know more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background " style="background-image:url( '{% static 'home/images/carousel3.png' %}'); ">
                <div class="container position-relative full-screen ">
                    <div class="col-md-12 slider-typography text-center text-md-left ">
                        <div class="slider-text-middle-main ">
                            <div class="slider-text-middle ">
                                <h1 style="color: white; " class="alt-font font-weight-700 letter-spacing-minus-1 line-height-80 width-55 margin-35px-bottom lg-width-60 md-width-70 lg-line-height-auto sm-width-100 sm-margin-15px-bottom ">We make cars that are greener</h1>
                                <p style="color: white; " class=" text-large margin-four-bottom width-40 lg-width-50 md-width-60 sm-width-100 sm-margin-15px-bottom ">Everything you could possibly want it to do and not only that, beautifully carefully designed.</p>
                                <div class="btn-dual "><a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa " target="_blank " style="background-color: white; " class="btn
    btn-rounded btn-small no-margin-lr ">express interest</a>
                                    <a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa " target="_blank " style="border-color: white; color: white; " class="btn btn-transparent-dark-gray
    btn-rounded btn-small margin-20px-lr sm-margin-5px-top ">Know more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
        </div>
        <!-- start slider pagination -->
        <div class="swiper-pagination swiper-full-screen-pagination "></div>
        <div class="swiper-button-next swiper-button-black-highlight d-none "></div>
        <div class="swiper-button-prev swiper-button-black-highlight d-none "></div>
        <!-- end slider pagination -->
    </div>
</section>
<section class="wow fadeIn">
    <div class="container">
        <div class="row align-items-center">
            <div id="why" class="col-12 col-xl-6 col-lg-5 col-md-12 padding-eight-right text-center text-lg-left lg-padding-five-right md-padding-fifteen-lr md-margin-80px-bottom sm-padding-15px-lr sm-margin-50px-bottom wow fadeIn" data-wow-delay="0.2s">
                <div class="alt-font text-medium-gray margin-15px-bottom text-uppercase text-small">Our services</div>
                <h4 class="font-weight-600 alt-font text-extra-dark-gray margin-35px-bottom sm-margin-25px-bottom">We are deliver beautiful digital products for you</h4>
                <p class="width-80 lg-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since when an unknown.</p>
                <a href="services-classic.html" class="btn btn-small btn-rounded btn-transparent-dark-gray margin-10px-top">View all services</a>
            </div>
            <div class="col-12 col-xl-6 col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-12 col-xl-6 col-md-6 text-center">
                        <div class="row">
                            <!-- start feature box item -->
                            <div class="col-12 margin-30px-bottom wow fadeIn">
                                <div class="feature-box-18 bg-light-gray text-center border-radius-8 overflow-hidden z-index-0 position-relative padding-fifteen-lr padding-twenty-two-tb sm-padding-fifteen-tb last-paragraph-no-margin">
                                    <i class="icon-hotairballoon text-deep-pink icon-large margin-25px-bottom"></i>
                                    <div class="alt-font text-medium text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom font-weight-700">Digital Branding</div>
                                    <p>Lorem Ipsum is simply dummy printing typesetting industry.</p>
                                    <div class="feature-box-overlay bg-deep-pink"></div>
                                </div>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col-12 wow fadeIn" data-wow-delay="0.2s">
                                <div class="feature-box-18 bg-light-gray text-center border-radius-8 overflow-hidden z-index-0 position-relative padding-fifteen-lr padding-twenty-two-tb sm-padding-fifteen-tb last-paragraph-no-margin">
                                    <i class="icon-strategy text-deep-pink icon-large margin-25px-bottom"></i>
                                    <div class="alt-font text-medium text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom font-weight-700">Graphic Design</div>
                                    <p>Lorem Ipsum is simply dummy printing typesetting industry.</p>
                                    <div class="feature-box-overlay bg-deep-pink"></div>
                                </div>
                            </div>
                            <!-- end feature box item -->
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 col-md-6 text-center">
                        <div class="row">
                            <!-- start feature box item -->
                            <div class="col-12 margin-40px-top margin-30px-bottom sm-margin-30px-top wow fadeIn" data-wow-delay="0.4s">
                                <div class="feature-box-18 bg-light-gray text-center border-radius-8 overflow-hidden z-index-0 position-relative padding-fifteen-lr padding-twenty-two-tb sm-padding-fifteen-tb last-paragraph-no-margin">
                                    <i class="icon-layers text-deep-pink icon-large margin-25px-bottom"></i>
                                    <div class="alt-font text-medium text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom font-weight-700">Web Interactive</div>
                                    <p>Lorem Ipsum is simply dummy printing typesetting industry.</p>
                                    <div class="feature-box-overlay bg-deep-pink"></div>
                                </div>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col-12 wow fadeIn" data-wow-delay="0.6s">
                                <div class="feature-box-18 bg-light-gray text-center border-radius-8 overflow-hidden z-index-0 position-relative padding-fifteen-lr padding-twenty-two-tb sm-padding-fifteen-tb last-paragraph-no-margin">
                                    <i class="icon-shield text-deep-pink icon-large margin-25px-bottom"></i>
                                    <div class="alt-font text-medium text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom font-weight-700">Powerful Options</div>
                                    <p>Lorem Ipsum is simply dummy printing typesetting industry.</p>
                                    <div class="feature-box-overlay bg-deep-pink"></div>
                                </div>
                            </div>
                            <!-- end feature box item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wow  fadeIn p-0 ">
    <div class="swiper-auto-height-container position-relative w-100 ">
        <div class="swiper-wrapper overflow-hidden ">
            <!--     start slider item -->
            <div class="swiper-slide padding-100px-all sm-padding-20px-all cover-background position-relative " style="background-image:url({% static 'home/images/slider1.png' %}) ">
                <div class="position-relative width-40 lg-width-60 md-width-85 sm-width-100 d-inline-block slide-banner last-paragraph-no-margin ">
                    <div class="padding-80px-all md-padding-40px-all sm-width-100 bg-black-opacity sm-padding-fifteen-tb sm-padding-30px-all text-center text-md-left ">
                        <h5 class="alt-font text-white-2 width-90 md-width-100 ">Sustainability</h5>
                        <p class="width-90 md-width-100 ">The Eco-Friendly and Sustainable - Electric (EaS-E®️), is a fully electric smart car for everyday use. Our motto is towards achieving sustainable long-term personal mobility to address the global challenges of pollution, climate
                            change, urban congestion and even more recent challenges related to parking.
                        </p>
                        <a href="javascript:void(0); " class="margin-35px-top md-margin-15px-top btn btn-small btn-white ">Explore services</a> data-endslide="2" </div>
                </div>
            </div>
            <!-- end slider item -->
            <!--    start slider item -->
            <div class="swiper-slide padding-100px-all sm-padding-20px-all cover-background position-relative " style="background-image:url({% static 'home/images/slider2.png' %}) ">
                <div class="position-relative width-40 lg-width-60 md-width-85 sm-width-100 d-inline-block slide-banner last-paragraph-no-margin ">
                    <div class="padding-80px-all md-padding-40px-all bg-black-opacity sm-padding-fifteen-tb sm-padding-30px-all text-center text-md-left ">
                        <h5 class="alt-font text-white-2 width-90 md-width-100 ">intuitive and convenient</h5>
                        <p class="width-90 md-width-100 ">
                            Make (EaS-E®️) your everyday car. Even its automatic unlocking mechanism is driver specific! Your (EaS-E®️) becomes hassle-free and convenient to drive with no stops at the petrol pump and comes with automatic clutch control! Make (EaS-E®️) your everyday
                            car. </p>
                        </p>
                        <a href="javascript:void(0); " class="margin-35px-top md-margin-15px-top btn btn-small btn-white ">Explore services</a>
                    </div>
                </div>
            </div>
            <!-- end    slider item -->
            <!--   start slider item -->
            <div class="swiper-slide padding-100px-all sm-padding-20px-all cover-background position-relative " style="background-image:url({% static 'home/images/slider3.png' %}) ">
                <div class="position-relative width-40 lg-width-60 md-width-85 sm-width-100 d-inline-block slide-banner last-paragraph-no-margin ">
                    <div class="padding-80px-all md-padding-40px-all bg-black-opacity sm-padding-fifteen-tb sm-padding-30px-all text-center text-md-left ">
                        <h5 class="alt-font text-white-2 width-90 md-width-100 ">Economics</h5>
                        <p class="width-90 md-width-100 ">Millions of people drive along in their cars, contribution to pollution. With (EaS-E®️), we at PMV Electric have built a step into the future of daily commute. This vehicle is easy on the pocket, has low maintenance costs and negligible
                            operational costs. Choose EaS-E®️ and take the first step towards a more positive and greener world to make it future friendly.

                        </p>
                        <a href="javascript:void(0); " class="margin-35px-top md-margin-15px-top btn btn-small btn-white ">Explore services</a>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
        </div>
        <div class="navigation-area ">
            <div class="swiper-button-next swiper-next-style4 text-white-2 "><i class="fas fa-arrow-up " aria-hidden="true "></i></div>
            <div class="swiper-button-prev swiper-prev-style4 "><i class="fas fa-arrow-down " aria-hidden="true "></i></div>
        </div>
    </div>
</section>
<!-- end slider section -->
<!-- start feature box section -->
<section class="wow fadeIn bg-light-gray ">
    <div class="col-12 my-4 text-center text-lg-center md-margin-five-bottom sm-margin-ten-bottom last-paragraph-no-margin ">
        <span class="text-extra-large text-extra-dark-gray alt-font margin-15px-bottom d-block md-width-100 ">We combine design and technology and technical craft.</span>
        <p class="md-width-100 ">
            The purpose built Personal Mobility Vehicle (PMV®️) is the future of urban mobility for intra-city everyday commute. Make (EaS-E®️) your everyday car. </p>
    </div>
    <div class="container ">

        <div class="row align-items-center ">
            <!-- start feature box item -->

            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-12 col-lg-2 col-md-3 text-center sm-margin-ten-bottom wow zoomIn ">
                <img width="90px " src="{% static 'home/images/1.png ' %}" alt=" ">
                <p class="alt-font margin-10px-top mb-0 ">

                    EaS-E® Mode: Feet Free Driving</p>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-12 col-lg-2 col-md-3 text-center sm-margin-ten-bottom wow zoomIn " data-wow-delay="0.2s ">
                <img width="100px " src="{% static 'home/images/3.png ' %}" alt=" ">
                <p class="alt-font margin-10px-top mb-0 ">Remote Parking Assist</p>
            </div>
            <div class="col-12 col-lg-2 col-md-3 text-center sm-margin-ten-bottom wow zoomIn " data-wow-delay="0.2s ">
                <img width="90px " src="{% static 'home/images/6.png ' %}" alt=" ">
                <p class="alt-font margin-10px-top mb-0 ">

                    Cruise Control</p>
            </div>
            <div class="col-12 col-lg-2 col-md-3 text-center sm-margin-ten-bottom wow zoomIn " data-wow-delay="0.2s ">
                <img width="100px " src="{% static 'home/images/4.png ' %}" alt=" ">
                <p class="alt-font margin-10px-top mb-0 ">

                    Remote controlled features</p>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-12 col-lg-2 col-md-3 text-center sm-margin-ten-bottom wow zoomIn " data-wow-delay="0.4s ">
                <img width="90px " src="{% static 'home/images/2.png ' %}" alt=" ">
                <p class="alt-font margin-10px-top mb-0 ">Regenerative Braking</p>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-12 col-lg-2 col-md-3 text-center wow zoomIn " data-wow-delay="0.6s ">
                <img width="100px " src="{% static 'home/images/5.png ' %}" alt=" ">
                <p class="alt-font margin-10px-top mb-0 ">

                    Update using over the Air (OTA) Updates</p>
            </div>
        </div>
        <!-- end feature box item -->
    </div>
</section>


<section class="wow fadeIn parallax " data-stellar-background-ratio="0.4 " style="background-image:url( {% static 'home/images/carousel2.png' %}); ">
    <div class="opacity-full bg-extra-dark-gray "></div>
    <div class="container position-relative ">
        <div class="row align-items-center ">
            <!-- start feature box item -->
            <div class="col-12 col-lg-6 lg-margin-15px-top md-no-margin-top md-margin-ten-bottom sm-padding-five-lr sm-margin-ten-bottom wow fadeIn last-paragraph-no-margin ">
                <div class="padding-fourteen-right md-no-padding-right text-center text-lg-left ">
                    <h5 class="alt-font text-white-2 ">A digital studio crafting beautiful experiences.</h5>
                    <p class="width-85 lg-width-100 mx-auto mx-lg-0 text-medium-gray ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <a href="about-us-modern.html " class="margin-35px-top btn btn-small btn-white md-margin-30px-top ">About Company</a>
                </div>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-12 col-lg-3 col-md-6 text-center sm-margin-ten-bottom wow fadeIn " data-wow-delay="0.2s ">
                <a class="popup-youtube " href="https://www.youtube.com/watch?v=cIXjhkBkUAE ">
                    <img src="{% static 'home/images/800x1022.png' %}" alt=" " class="w-100 ">
                    <div class="icon-play ">
                        <div class="absolute-middle-center width-80 ">
                            <img src="{% static 'home/images/icon-play.png' %}" alt=" ">
                        </div>
                    </div>
                </a>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-12 col-lg-3 col-md-6 text-center wow fadeIn " data-wow-delay="0.4s ">
                <img src="{% static 'home/images/800x1022_1.png' %}" alt=" " class="w-100 ">
            </div>
            <!-- end feature box item -->
        </div>
    </div>
</section>
<!-- end parallax section -->
<!-- start testimonial section -->
<section class="wow fadeIn " style="background-color: #22221f;">
    <div class=" text-center margin-100px-bottom sm-margin-40px-bottom">
        <div class="position-relative overflow-hidden w-100">
            <span style="color: rgb(214, 214, 214);" class="text-extra-large text-outside-line-full alt-font font-weight-600 text-uppercase">Economic and Environmental Impact</span>
        </div>
    </div>

    <div class="wrapper">
        <div class="calculator">

            <div class="container ">
                <div class="row position-relative ">
                    <div class="col-lg-6">
                        <form class="text-center">
                            <label class="outer-content-2" for="vol">Average daily drive (Miles):</label>
                            <br>
                            <output class="text-center" id="amount" name="amount" for="vol">30</output>
                            <br>
                            <span>0</span>
                            <input class="range" type="range" id="vol" name="vol" min="0" max="100" value="30" onchange="test()" oninput="amount.value=vol.value">
                            <span>100</span>
                            <br>
                        </form>
                        <hr style="color:white !important">

                        <form class="text-center">
                            <label class="outer-content-2" for="vol2"> Mileage of your Car (Miles/Gallon MPG)</label>
                            <br>
                            <output id="amount2" name="amount" for="vol2">30</output>
                            <br>
                            <span>15</span>
                            <input class="range" type="range" id="vol2" name="vol2" min="15" max="70" value="30" onchange="test2()" oninput="amount2.value=vol2.value">
                            <span>70</span>
                        </form>

                        <form class="text-center">
                            <label class="outer-content-2" for="vol1">Gasoline Rates in your city ($/Gallon):</label>
                            <br>
                            <output id="amount1" name="amount" for="vol1">4</output>
                            <br>
                            <span>3</span>
                            <input class="range" type="range" id="vol1" step="0.1" name="vol1" min="3" max="5" value="4" onchange="test1()" oninput="amount1.value=vol1.value">
                            <span>5</span>
                        </form>

                        <form class="text-center">
                            <label class="outer-content-2" for="vol3">Electricity rates in your city (cents/KWhr):</label>
                            <br>
                            <output id="amount3" name="amount" for="vol3">15</output>
                            <br>
                            <span>10</span>

                            <input class="range" type="range" id="vol3" name="vol3" min="10" max="35" value="15" onchange="test3()" oninput="amount3.value=vol3.value">
                            <span>35</span>

                        </form>


                        <br>

                    </div>

                    <div class="col-lg-6" style="margin-top: 5%;">
                        <div class="content">

                            <div class="outer-content">
                                <span>Average Monthly Drive Distance (Miles):  </span>
                                <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p1">900</span>
                                <br>
                                <span>Monthly Spend on Gasoline Bills ($) </span>
                                <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p4">120</span>
                                <br>
                                <span>Monthly Spend on Electricity Bills ($)</span>
                                <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p5">16.875</span>
                                <br>
                                <span>Monthly CO2 Emissions from your current car (Pounds)</span>
                                <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p6">562.2</span>
                                <br>
                                </span>
                            </div>
                            <br> <br> <br>
                            <button type="button" class="btn  btn btn-rounded btn-small no-margin-lr" data-toggle="modal" style="background-color: black; color: white;" data-target="#exampleModalCenter">Read more</button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" style="font-family: Montserrat;" id="exampleModalLongTitle">More specifications</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                                        </div>
                                        <div class="modal-body outer-content-3">
                                            <span>Monthly CO2 Emissions from EaS-E (Pounds)
                                            <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p7">103.5</span>
                                            <br>
                                            <span>Annual Spend on Gasoline Bills ($)
                                </span>
                                            <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p8">1440</span>
                                            <br>
                                            <span>Annual Spend on Electricity Bills ($)            </span>
                                            <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p9">202.5</span>
                                            <br>
                                            <span>Annual CO2 Emissions from your current car (Pounds)            </span>
                                            <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p10">6746.4</span>
                                            <br>
                                            <span>Annual CO2 Emissions from EaS-E (Pounds)            </span>
                                            <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p11">1242</span>
                                            <br>
                                            <span>Gasoline consumed (Gallons/Month) </span>
                                            <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p2">30</span>
                                            <br>

                                            <span>Electricity Consumed (KWhrs/Month)            </span>
                                            <span style="color: rgba(78, 164, 245, 0.925); font-weight: 800; font-size: large;" class="value" id="p3">112.5</span>
                                            <br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn btn-rounded btn-small no-margin-lr" data-dismiss="modal" style="color: white; background-color: black;">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>


                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
<!-- end testimonial section -->
<!-- start clients slider section -->

<!-- end clients slider section -->
<!-- start contact section -->
<section class="wow fadeIn bg-extra-dark-gray ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 col-lg-6 padding-ten-right lg-padding-five-right md-padding-15px-right md-margin-five-bottom wow fadeIn ">
                <p class="alt-font text-medium margin-15px-bottom ">Technology expert people analysis</p>
                <h5 class="alt-font text-white-2 margin-20px-bottom ">Feel free to get in touch with us any convenient way</h5>

                <div class="icon-box d-table w-100 mx-auto mx-lg-0 last-paragraph-no-margin ">
                    <div class="icon-box-holder align-middle d-table-cell position-relative ">
                        <i class="icon-map icon-medium text-deep-pink padding-5px-top "></i>
                        <div class="alt-font text-white-2 ">Postal Address</div>
                        <p>301 The Greenhouse, Custard, Factory, London, E2 8DY.</p>
                    </div>
                </div>
                <div class="icon-box d-table w-100 mx-auto mx-lg-0 last-paragraph-no-margin ">
                    <div class="icon-box-holder align-middle d-table-cell position-relative ">
                        <i class="icon-envelope icon-medium text-deep-pink padding-5px-top "></i>
                        <div class="alt-font text-white-2 ">General Enquiries</div>
                        <p><a href="mailto:no-reply@domain.com "> no-reply@domain.com</a> / <a href="mailto:sales@domain.com ">sales@domain.com</a></p>
                    </div>
                </div>
                <div class="icon-box d-table w-100 mx-auto mx-lg-0 last-paragraph-no-margin ">
                    <div class="icon-box-holder align-middle d-table-cell position-relative ">
                        <i class="icon-chat icon-medium text-deep-pink padding-5px-top "></i>
                        <div class="alt-font text-white-2 ">Business Phone</div>
                        <p>+44 (0) 123 456 7890 / +44 (0) 123 456 700</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 wow fadeIn ">
                <div class="padding-fifteen-all bg-white border-radius-6 lg-padding-seven-all ">
                    <div class="text-extra-dark-gray alt-font text-large font-weight-600 margin-30px-bottom ">Looking for an excellent business idea?</div>
                    <div>
                        <form id="contact-form " action="javascript:void(0) " method="post ">
                            <div id="success-contact-form " class="mx-0 "></div>
                            <input type="text " name="name " id="name " placeholder="Name* " class="input-bg ">
                            <input type="text " name="email " id="email " placeholder="E-mail* " class="input-bg ">
                            <input type="text " name="subject " id="subject " placeholder="Subject " class="input-bg ">
                            <textarea name="comment " id="comment " placeholder="Your Message " class="input-bg "></textarea>
                            <button id="contact-us-button " type="submit " class="btn btn-small border-radius-4 btn-black ">send message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}