{% extends "home/base.html" %} {% load static %} {% block content %}
<section class="wow fadeIn">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 last-paragraph-no-margin text-center">
            <h2 style="font-size: 4rem;" class="text-extra-dark-gray alt-font font-weight-600">Our <span class="d-block d-md-inline-block" style="color: #527ea5;">Mission</span></h2>

        </div>
    </div>
</section>

<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto text-center text-md-left">
                <h5 class="alt-font text-extra-dark-gray">What you get by <strong>achieving your goals is not as important</strong> as what you become by achieving your goals.</h5>
                <p class="text-center text-md-justify text-medium line-height-28 sm-line-height-26">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a <strong class="text-extra-dark-gray text-decoration-underline">galley of type and scrambled</strong>                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like aldus pagemaker including versions.</p>

            </div>
        </div>
    </div>
</section>

<section class="p-0 wow fadeIn bg-extra-dark-gray">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 col-lg-6 position-relative md-height-550px sm-height-350px cover-background wow slideInLeft" data-wow-duration="900ms" style="background-image: url({% static 'home/images/mission1.png' %});">
            </div>
            <div class="col-12 col-lg-6 last-paragraph-no-margin padding-eight-lr padding-seven-tb md-padding-twelve-lr md-padding-ten-tb sm-padding-15px-lr text-center text-lg-left wow slideInRight" data-wow-duration="900ms">
                <h5 class="alt-font text-light-gray">There is no passion to be found playing small - in settling for a <strong>life that is less</strong> than the one you are capable of living.</h5>
                <p class="text-center text-md-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                    of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. <strong class="text-decoration-underline text-medium-gray">All the lorem ipsum generators on the internet tend</strong> to repeat predefined
                    chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated
                    Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                <p class="text-center text-md-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a <strong class="text-medium-gray text-decoration-underline">galley of type and scrambled</strong>                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like aldus pagemaker including versions.</p>
            </div>
        </div>
    </div>
</section>

<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <p class="text-center text-md-justify text-medium line-height-28 sm-line-height-26">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a <strong class="text-extra-dark-gray text-decoration-underline">galley of type and scrambled</strong>                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like aldus pagemaker including versions.</p>

            </div>
            <div class="col-12 margin-40px-tb">
                <img src="http://placehold.it/1000x667" alt="" class="width-100">
            </div>
            <div class="col-12 col-lg-10 mx-auto last-paragraph-no-margin">
                <p class="text-center text-md-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                    more recently with desktop publishing software like aldus pagemaker including versions.</p>

            </div>
        </div>
    </div>
</section>

<section class="p-0 wow fadeIn bg-extra-dark-gray">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 col-lg-6 last-paragraph-no-margin padding-eight-lr padding-seven-tb md-padding-twelve-lr md-padding-ten-tb sm-padding-15px-lr text-center text-lg-left wow slideInLeft">
                <h5 class="alt-font text-light-gray">There is no passion to be found playing small - in settling for a <strong>life that is less</strong> than the one you are capable of living.</h5>
                <p class="text-center text-md-justify">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
                    you need to be sure there isn't anything embarrassing hidden in the middle of text. <strong class="text-decoration-underline text-medium-gray">All the lorem ipsum generators on the internet tend</strong> to repeat
                    predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
                    The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                <p class="text-center text-md-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a <strong class="text-medium-gray text-decoration-underline">galley of type and scrambled</strong>                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like aldus pagemaker including versions.</p>
            </div>
            <div class="col-12 col-lg-6 position-relative md-height-550px sm-height-350px cover-background wow slideInRight" style="background-image: url({% static 'home/images/mission2.png' %});"></div>
        </div>
    </div>
</section>

<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto text-center text-md-left">
                <span class="font-weight-600 alt-font d-block margin-10px-bottom text-medium text-extra-dark-gray">We may encounter many defeats but we must not be defeated.</span>
                <p class="text-center text-md-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                    of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the lorem ipsum generators on the internet tend to repeat predefined chunks as necessary, making this the first true generator
                    on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
                    injected humour.</p>
                <p class="d-none d-md-inline-block"></p>
                <span class="font-weight-600 alt-font d-block margin-10px-bottom text-medium text-extra-dark-gray">If you don't like how things are, change it! You're not a tree.</span>
                <p class="text-center text-md-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                    more recently with desktop publishing software like aldus pagemaker including versions. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <p class="d-none d-md-inline-block"></p>
                <span class="font-weight-600 alt-font d-block margin-10px-bottom text-medium text-extra-dark-gray">You can never quit. Winners never quit, and quitters never win.</span>
                <p class="text-center text-md-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                    of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the lorem ipsum generators on the internet tend to repeat predefined chunks as necessary, making this the first true generator
                    on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
                    injected humour.</p>
            </div>
        </div>
    </div>
</section>{% endblock content %}