{% extends "home/base.html" %} {% load static %} {% block content %}

<section style="margin-top: 5%; margin-bottom: 5%;" class="p-3 wow fadeIn bg-white">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 col-lg-6 last-paragraph-no-margin padding-eight-lr padding-seven-tb md-padding-twelve-lr md-padding-ten-tb sm-padding-15px-lr text-center text-lg-left wow slideInLeft">
                <h5 class="alt-font text-light-gray">The Future Technology</h5>
                We at PMV Electric believe that you can create the future that you can envision. Towards this we constantly bring upgrades that are smart, eco-friendly and make your future personal mobility and your commute to work fun at the same time ensuring cities
                are more livable without causing any pollution. It is Faster, Smarter & Greener!!
            </div>
            <div class="col-12 col-lg-6 position-relative md-height-550px sm-height-350px cover-background wow slideInRight" style="background-image: url({% static 'home/images/mission2.png' %});"></div>
        </div>
    </div>
</section>
{% endblock content %}