{% extends "home/base.html" %} {% load static %} {% block content %} {% load static %}

<style>
    input {
        background-color: transparent !important;
    }
    
    @media only screen and (max-width: 768px) {
        .phone-margin {
            margin-top: 20% !important;
            padding: 2%;
            color: white;
        }
        .phone-section {
            background-size: cover !important;
            background: none !important;
            height: 200% !important;
            background-color: #0e0f10 !important;
        }
        .text-center p {
            font-size: 30px !important;
            color: rgb(243, 230, 230);
        }
        .text-center .alt-font {
            font-size: 20px !important;
            color: rgb(238, 228, 228);
        }
    }
</style>

<section class="wow fadeIn bg-extra-dark-gray phone-section" style="background-image: url({% static 'home/images/buy-car.png' %}) ; background-size:100%; height:120%; background-repeat:none; ">
    <div class=" container phone-margin">
        <div class="d-lg-none col-12 col-lg-6  align-items-center md-margin-five-bottom">
            <img src="{% static 'home/images/buy-1-phone.png' %}" alt="">
        </div>
        <div class="row">

            <div class="form-margin col-12 col-xl-5 col-lg-6 d-flex align-items-center md-margin-five-bottom text-center text-lg-left sm-no-margin-top wow fadeIn " data-wow-delay="0.4s " style="padding: 5%; margin-top: -7%; border-radius: 7px;">

                <div class="lg-padding-10px-lr sm-padding-five-lr sm-padding-ten-bottom w-100 ">
                    <span class="alt-font text-medium-gray d-block margin-10px-bottom"></span>
                    <p class="text-extra-dark-gray text-center" style="font-size: 300%; font-family: Montserrat; line-height: 100%;">Preorder your <b>EaS-e</b> </p>

                    <span class="text-extra-dark-gray text-center bg-charcoal-gray text-light-gray" style="font-size: 130%; font-family: Montserrat; line-height: 100%; margin: 1%; padding: 1.5%;">Starting at <b>$13,999</b> </span > <span class="text-extra-dark-gray text-center bg-charcoal-gray text-light-gray" style="font-size: 130%; font-family: Montserrat; line-height: 100%; margin: 1%; margin-bottom: 3% !important; padding: 1.5%;">Due today <b>$100</b> </span>
                    <form method="post" class="bg-charcoal-gray" style="padding: 10%; margin-top: 3%; border-radius: 4px;">
                        <div>
                            {% csrf_token %} {{ form_reserve.as_p }}

                            <button id="contact-us-button " type="submit " class="btn btn-small border-radius-4 btn-white ">Proceed to choose color</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <section class=" d-lg-none wow fadeIn bg-transparent" style="margin-top: -3%;">
            <div class="container ">

                <div class="row text-center ">
                    <div class="col-12 col-lg-3 col-md-6 col-sm-2 margin-10px-bottom md-margin-30px-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin ">
                        <div class="alt-font text-extra-light-gray font-weight-600 margin-10px-bottom ">Top Speed</div>
                        <p class="text-extra-light-gray font-weight-800" style="font-size: 50px; ">55 Mph</p>
                    </div>

                    <div class="col-12 col-lg-3 col-md-6 col-sm-2 margin-10px-bottom md-margin-30px-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin " data-wow-delay="0.2s ">
                        <div class="alt-font text-light-gray margin-10px-bottom ">Range</div>
                        <p class="text-extra-light-gray font-weight-800" style="font-size: 50px;">100 miles</p>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-12 col-lg-3 col-md-6 wow fadeInUp sm-margin-30px-bottom last-paragraph-no-margin " data-wow-delay="0.4s ">
                        <div class="alt-font text-extra-light-gray font-weight-600 margin-10px-bottom ">Charge</div>
                        <p class="text-extra-light-gray font-weight-800" style="font-size: 50px; ">3-4 hours</p>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-12 col-lg-3 col-md-6 wow fadeInUp last-paragraph-no-margin " data-wow-delay="0.6s ">
                        <div class="alt-font text-extra-light-gray font-weight-600 margin-10px-bottom ">Seat</div>
                        <p class="text-extra-light-gray font-weight-800" style="font-size: 50px; ">2 Tandem</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

{% endblock content %}