{% extends "home/base.html" %} {% block content %} {% load static %}
<section id="home" class="p-0 parallax mobile-height wow fadeIn" data-stellar-background-ratio="0.5" style="background-image:url('{% static 'home/images/thanks.png' %}');">
    <div class="opacity-full bg-extra-dark-gray"></div>
    <div class="container position-relative full-screen">
        <div class="slider-typography text-center">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle">
                    <div class="bg-black-opacity-light width-80 mx-auto md-width-80">
                        <div class="padding-fifteen-all sm-padding-20px-all">
                            <span class="title-large text-white-2 font-weight-600 d-block margin-30px-bottom sm-margin-10px-bottom">Successful</span>
                            <span class="text-medium-gray width-80 d-block mx-auto text-large md-width-100">A payment of 100$ to stripe will appear on your statement</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}