{% extends "home/base.html" %} {% block content %}

<div class="container">
    <div class="col-lg-12 text-center" style="height: 70vh; width: 100vw; margin-top: 20%;">

        <h2>Your payment has been successful</h2>
        <h4>A payment to stripe of $100 will appear on your statement</h4>
        <span><a class="btn btn-transparent-dark-gray" href="{% url 'home:home' %}">home</a></span>
        <span><a class="btn btn-dark-gray" href="{% url 'home:home' %}">express interest</a></span>
    </div>
</div> {% endblock content %}